<div class="container">
    <div class="row">
        <div class="col-md-12 bg-template">
            <div class="row mt-4">
                <div class="col-md-1">
                    <h4 class="year-count">15</h4>
                </div>
                <div class="col-md-3">
                    <h4 class="year-label">Years<br> Experiance</h4>
                </div>
                <div class="col-md-2 offset-md-6">
                    <img src="../../assets/images/ziffy-logo.png" class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-3">
                    <h2 class="dr-name">Dr. John Doe</h2>
                    <h4 class="dr-desg">BDS (Dental Surgeon)</h4>
                </div>
                <div class="col-md-4">
                    <div class="clip-polygon">
                        <img src="../../assets/images/Dr-photos/dr.sample-photo.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4 class="footer-contact"><img src="../../assets/images/phone.svg" class="img-phone"> +91 70665 32000</h4>
                </div>
            </div>
        </div>
    </div>
</div>